<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="audio_player/audio-player-noswfobject.js"></script>  
<script>
//ваш APPLICATION ID (регаться тут - http://vk.com/editapp?act=create )
var APP_ID=0000000000;
//Ваша страничка. Должна быть прописана в доменах приложения, зарегистрированного выше.
var URL="http://test/";

var full_auth_url="https://oauth.vk.com/authorize?client_id="+APP_ID+"&scope=audio&redirect_uri="+URL+"&display=page&v=5.21&response_type=token";
var TOKEN="";
var USER_ID="";

function getUrlVars()
{
	var vars = [], hash;
	var hashes = window.location.href.slice(window.location.href.lastIndexOf('/') + 1).split(/\?|&|#/);

	for(var i = 0; i < hashes.length; i++)
	{
		hash = hashes[i].split('=');
		if (hash[0]!=""){
			vars.push(hash[0]);
			vars[hash[0]] = hash[1];
		}
	}
	
	return vars;
}

function WithLeadZero(num){
	if (num<10){
		return "0"+num;
	}
	return num;
}
	
var vars=getUrlVars();

if (vars['access_token']==null){
	window.location.href = full_auth_url;
}else{
	TOKEN=vars['access_token'];
	USER_ID=vars['user_id'];
}
</script>

<style>
div.line
{
	padding-top:4px;
	padding-bottom:4px;
}
</style>

<form method=get>
Найти: <input id=find name=find style="width:400px;" placeholder="Название композиции или исполнителя">
<br> <input type=submit>
</form>

<script>
$(function() {
	if (vars.hasOwnProperty('find'))
	{
		//запрос надо вернуть в человеческий вид
		vars['find']=decodeURIComponent(vars['find']);
		
		document.getElementById('find').value = vars['find'];
	
		$.ajax({
		  url: "https://api.vk.com/method/audio.search",
		  dataType: 'jsonp',  //use jsonp data type in order to perform cross domain ajax
		  crossDomain: true,
		  data: {q: vars['find'],
				owner_id: USER_ID,
				access_token: TOKEN,
				auto_complete: 1,
				v:5.21,
				lyrics:0,
				performer_only:0,
				sort:2,
				search_own:1,
				offset:0,
				count:10},
		  success: function( resp ) {
				div = document.getElementById('main');
				size=resp.response.items.length;
				if (size!=0){
					for (var i=0;i<size;i++){
						minutes = Math.floor(resp.response.items[i].duration/60);
						seconds = WithLeadZero(resp.response.items[i].duration-minutes*60);
						div.innerHTML = div.innerHTML+
						"<div class=line>"+resp.response.items[i].title+
						" ["+resp.response.items[i].artist+"]"+
						" ["+minutes+":"+seconds+"]"+
						" <a href="+resp.response.items[i].url+">Скачать</a><br>"+
						//" <span id=audioplayer_"+i+"></span>"+						
						'<embed width="270" height="24" swliveconnect="default" src="audio_player/player.swf" wmode="opaque" bgcolor="#FFFFFF" scale="showall" quality="autohigh" loop="false" menu="false" play="false" name="" base="" salign="tl" FlashVars="autostart=no&loop=no&soundFile='+resp.response.items[i].url+'" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" /></embed></object>'+
						"</div>";

						//AudioPlayer.embed("audioplayer_"+i, {soundFile: resp.response.items[i].url});
					}
				}else{
					div.innerHTML = "Ничего не найдено! :(";
				}
				
			},
		  error: function( resp ) {
				alert(resp);
			}
		});
	}
});
</script>
<div id=main></div>